@{
    ViewBag.Title = "Pages";
}

<h2>Pages</h2>

<div class="pages"></div>

<script src="~/Scripts/jquery.page-tree.js"></script>
<script>
    $(function () {
        $('.pages').buildTree();
    });
</script>